<div style="padding: 20px">

 <div class="error-card" *ngIf="error">
   <mat-card><strong style="color: red">Fetch error: </strong><span> Please check your internet connection</span></mat-card>
 </div>
  <div *ngIf="loading && !indicesDataSource; else content" class="loader">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #content>
    <div *ngIf="indicesDataSource; else errorSection">
      <table mat-table [dataSource]="indicesDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> RP </th>
          <td mat-cell *matCellDef="let element"> {{element.rp}} </td>
        </ng-container>


        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Move </th>
          <td mat-cell *matCellDef="let element"> {{element.move}} </td>
        </ng-container>


        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> %Move </th>
          <td mat-cell *matCellDef="let element"> {{element.percentageMove}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  </ng-template>
  <ng-template #errorSection><h1>No Content</h1></ng-template>

</div>

