
table {
  width: 100%;
}
.loader{
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
.toast-offline {
  color: white;
  background: black;
  paddding: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.error-card {
  display: flex;
  justify-content: center;
  margin-bottom: 16px
}
